{% extends "base.html "%}

{% block content %}
    <h3>Status of all payments<h3>
    {% if payment_price_error %}
        <h3>payment price is missing</h3>
    {% else %}
        <div>
            <form action="{% url 'order_status' %}" method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type='submit', value='Buy Now'>
        </div>
            </form>
    {% endif %}
    
    <div class="successful_orders">
        <small>Successful orders: </small>
        {% for order in orders %}
            {% if order.order_status %}
            <ul>{{ order.order_id }}</ul>
            {% endif %}
        {% endfor %}
    </div>
    <div class="unsuccessful_orders">
        <small>Unsuccessful orders: </small>
        {% for order in orders %}
            {% if not order.order_status %}
            <ul>{{ order.order_id }}</ul>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock%}